<h1><%= @deck.name %></h1>
<%= simple_format @deck.description %>

<% if logged_in? %>
  <div id="app">
    <question></question>
  </div>
<% else %>
  <%= form_tag :session, method: :post do %>
    <%= email_field_tag :email %>
    <%= submit_tag 'Send' %>
  <% end %>
<% end %>
