<div class="home question_cont" id="app">

  <div v-if="!started && !finished">

    <h1><%= @deck.name %></h1>
    <% @deck.description.each_line do |line| %>
      <h2><%= line %></h2>
    <% end %>

    <h3><a class="button inline" @click.prevent="started=true">¿Qué harías tu en estas situaciones?</a></h3>

    <div class="separator"></div>
  </div>
  <question :deck="deck" v-else-if="!finished"></question>

</div>

<%= javascript_tag do %>
  window.storage = {
    deck: '<%= @deck.slug %>',
    sessionId: '<%= current_user_api_token %>',
    started: false,
    finished: false
  };
<% end %>

<%= render template: 'components/question' %>
<%= render template: 'components/question-option' %>
