<!DOCTYPE html>
<html>
<head>
  <% set_meta_tags twitter: { site: '@PopulateTools', card: 'summary' } %>
  <% set_meta_tags og: {
    title:    'La Máquina de las Preguntas',
    type:     'website',
    url:      'https://questions.populate.tools'
  } %>
  <%= display_meta_tags site: 'La Máquina de las Preguntas', reverse: true %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

	<%= yield %>

	<div class="sidebar_player">

    <div class="points">
      <div class="points_n">1.234</div>
      puntos
    </div>

    <div class="context">
      <div class="time">Hoy llevas jugando 7m</div>
      <div class="calm">Tranquilo, solo te dejaremos jugar 20m</div>

    </div>
  </div>

  <div class="sidebar_site">
    <menu>
      <ul>
        <li><%= link_to 'Qué y quiénes', about_path %></li>
      </ul>
    </menu>

  </div>
</div>

</body>
</html>
